/* -------------------- */
/* GOOGLE Fonts Import */
/* -------------------- */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -------------------- */
/* GLOBAL */
/* -------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.head-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

.black-logo {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  color: #333;
}

.white-logo {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
  color: #f2f2f2;
}

form#contact-form {
  max-width: 350px;
}

form#contact-form .contact-label {
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: #828282;
}

form#contact-form .contact-inputs {
  height: 47px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

form#contact-form .contact-inputs #contact-email {
  box-sizing: border-box;
  min-width: 125px;
  border: none;
  border-radius: 12px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #4f4f4f;
  padding-left: 20px;
}

form#contact-form .contact-inputs #contact-email::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #bdbdbd;
}

form#contact-form .contact-inputs #contact-email:focus {
  outline: none;
}

form#contact-form .contact-inputs .contact-submit {
  width: 70px;
  min-width: 70px;
  height: 39px;
  background-color: #2d9cdb;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #f2f2f2;
  margin-right: 4px;
}

@media screen and (min-width: 1440px) {
  .head-title {
    font-size: 48px;
    line-height: 72px;
  }

  .black-logo,
  .white-logo {
    font-size: 36px;
    line-height: 52px;
  }

  form#contact-form .contact-label {
    display: block;
    font-size: 14px;
    line-height: 21px;
  }

  form#contact-form .contact-inputs {
    height: 57px;
  }

  form#contact-form .contact-inputs #contact-email {
    font-size: 18px;
    line-height: 27px;
  }

  form#contact-form .contact-inputs #contact-email::placeholder {
    font-size: 18px;
    line-height: 27px;
  }

  form#contact-form .contact-inputs .contact-submit {
    width: 94px;
    min-width: 70px;
    height: 49px;
    font-size: 18px;
    line-height: 27px;
  }
}

/* -------------------- */
/* HEADER */
/* -------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

header .header-menu .header-mobile-menu {
  display: block;
}

header .header-menu .header-mobile-menu #header-mobile-menu-content {
  position: absolute;
  left: 100%;
  padding: 20px 50px;
  width: 100%;
  background-color: #fff;
}

header .header-menu .header-mobile-menu #header-mobile-menu-content ul {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

header .header-menu .header-mobile-menu #header-mobile-menu-content ul li a {
  text-decoration: none;
  color: #4f4f4f;
}

header
  .header-menu
  .header-mobile-menu
  #header-mobile-menu-content
  ul
  li
  a:hover {
  color: #2d9cdb;
}

header .header-menu .header-desktop-menu {
  display: none;
}

header .header-menu .header-desktop-menu ul {
  list-style: none;
}

header .header-menu .header-desktop-menu ul li {
  display: inline-block;
  margin: 0 20px;
}

header .header-menu .header-desktop-menu ul li:last-child {
  margin: 0 0 0 20px;
}

header .header-menu .header-desktop-menu ul li a {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 1440px) {
  header {
    padding: 20px 50px;
  }

  header .header-menu .header-mobile-menu {
    display: none;
  }

  header .header-menu .header-desktop-menu {
    display: block;
  }
}

/* -------------------- */
/* HOME SECTION */
/* -------------------- */

section#home {
  padding-top: 48px;
}

section#home .home-title {
  margin: 40px 50px 15px 50px;
  max-width: 540px;
}

section#home .home-title span {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #2d9cdb;
}

section#home .home-image {
  margin: 0 10px;
}

section#home .home-image img {
  width: 100%;
  border-radius: 18px;
}

section#home .home-details {
  margin: 20px 40px;
  max-width: 220px;
}

section#home .home-details p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #4f4f4f;
  margin: 30px 0;
}

@media screen and (min-width: 1440px) {
  section#home {
    padding-top: 96px;
  }

  section#home .home-title {
    margin: 40px 270px;
  }

  section#home .home-title span {
    font-size: 18px;
    line-height: 27px;
  }

  section#home .home-image {
    margin: 0 50px;
  }

  section#home .home-details {
    margin: 40px 270px;
    max-width: 360px;
  }

  section#home .home-details p {
    font-size: 18px;
    line-height: 27px;
    margin: 42px 0;
  }
}

/* -------------------- */
/* SERVICES SECTION */
/* -------------------- */

section#services {
  padding-top: 100px;
}

section#services .services-title {
  max-width: 350px;
  margin: 0 50px;
}

section#services .services-title h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

section#services .services-details {
  display: flex;
  flex-direction: column;
}

section#services .services-details .service {
  margin: 50px 15px;
  border-radius: 24px;
}

section#services .services-details .service .service-content {
  padding: 40px 35px;
}

section#services .services-details .service .service-content .service-icon {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 35px;
}

section#services
  .services-details
  .service
  .service-content
  .service-icon
  span {
  width: 27px;
  height: 27px;
  color: #fff;
}

section#services .services-details .service .service-content .service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #333;
  margin-bottom: 24px;
}

section#services .services-details .service .service-content .service-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f4f4f;
  margin-bottom: 30px;
}

section#services .services-details .service .service-content .service-button {
  border: none;
  border-radius: 12px;
  background-color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #828282;
  padding: 10px 12px;
}

section#services
  .services-details
  .service:nth-child(1)
  .service-content
  .service-icon {
  background-color: #2d9cdb;
}

section#services
  .services-details
  .service:nth-child(2)
  .service-content
  .service-icon {
  background-color: #27ae60;
}

section#services
  .services-details
  .service:nth-child(3)
  .service-content
  .service-icon {
  background-color: #eb5757;
}

section#services .services-details .service:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

section#services
  .services-details
  .service:hover
  .service-content
  .service-button {
  background-color: #2d9cdb;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  section#services {
    padding-top: 200px;
  }

  section#services .services-title {
    max-width: 340px;
    margin: 0 165px;
  }

  section#services .services-title h2 {
    font-size: 36px;
    line-height: 54px;
  }

  section#services .services-details {
    display: flex;
    flex-direction: row;
    margin: 0 165px;
  }
}

/* -------------------- */
/* WORKS SECTION*/
/* -------------------- */

section#works {
  padding-top: 100px;
}

section#works .works-title {
  max-width: 260px;
  margin: 0 50px;
}

section#works .works-title h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

section#works .works-details {
  display: flex;
  flex-direction: column;
}

section#works .works-details .work {
  max-width: 545px;
  margin: 40px 12px 0 12px;
}

section#works .works-details .work .work-image img {
  width: 100%;
  border-radius: 24px;
}

section#works .works-details .work .work-category {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #828282;
}

section#works .works-details .work .work-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #333;
}

section#works .works-see-more {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 10px;
}

section#works .works-see-more a {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #2d9cdb;
  text-decoration: none;
}

section#works .works-see-more span {
  color: #2d9cdb;
}

@media screen and (min-width: 1440px) {
  section#works {
    padding-top: 200px;
  }

  section#works .works-title {
    max-width: 450px;
    margin: 0 165px;
  }

  section#works .works-title h2 {
    font-size: 36px;
    line-height: 54px;
  }

  section#works .works-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 15%;
  }

  section#works .works-details .work {
    max-width: none;
    width: 48%;
    margin: 0;
  }

  section#works .works-details .work:nth-child(odd) {
    margin: 150px 10px 0px 0px;
  }

  section#works .works-details .work:nth-child(even) {
    margin: 12px 0px 0px 10px;
  }

  section#works .works-see-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30px;
    margin-right: 210px;
    margin-left: 0;
  }

}

/* -------------------- */
/* CLIENTS SECTION */
/* -------------------- */

section#clients {
  padding-top: 100px;
  margin: 0 10px;
}

section#clients .team-content .team-title {
  max-width: 280px;
}

section#clients .team-content .team-title span {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #eb5757;
  margin-bottom: 8px;
}

section#clients .team-content .team-title h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  color: #333;
  margin-bottom: 10px;
}

section#clients .team-content .team-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f4f4f;
}

section#clients .team-content .team-image {
  display: flex;
  margin-top: 36px;
}

section#clients .team-content .first-column {
  width: 50%;
  display: flex;
  align-items: center;
}

section#clients .team-content .second-column {
  width: 50%;
  margin-left: 15px;
}

section#clients .team-content .first-column .person3 {
  width: 105%;
  border-radius: 24px;
}

section#clients .team-content .second-column .person1 {
  width: 85%;
  border-radius: 24px;
}

section#clients .team-content .second-column .person2 {
  width: 95%;
  border-radius: 24px;
}

section#clients .client-comment {
  margin-top: 100px;
}

section#clients .client-comment blockquote p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

section#clients .client-comment blockquote p::before {
  content: "\201C";
}

section#clients .client-comment blockquote p::after {
  content: "\201D";
}

section#clients .client-comment .client-info {
  display: flex;
  margin-top: 36px;
}

section#clients .client-comment .client-info .client-image img {
  width: 82px;
  border-radius: 12px;
}

section#clients .client-comment .client-info .client-name {
  margin-left: 30px;
}

section#clients .client-comment .client-info .client-name h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333;
}

section#clients .client-comment .client-info .client-name p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #828282;
}

@media screen and (min-width: 1440px) {
  section#clients {
    padding-top: 200px;
    margin: 0 170px;
  }

  section#clients .team-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  section#clients .team-content .team-image {
    margin-top: 0;
    width: 50%;
  }

  section#clients .client-comment {
    margin-top: 200px;
    max-width: 900px;
  }
  
  section#clients .client-comment blockquote p {
    font-size: 36px;
    line-height: 54px;
  }

}

/* -------------------- */
/* FOOTER */
/* -------------------- */

footer {
  margin-top: 100px;
  background-color: #100e1d;
  color: #f2f2f2;
  padding: 36px 40px 24px 40px;
}

footer .footer-content .footer-menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
}

footer .footer-content .footer-menu ul {
  list-style: none;
}

footer .footer-content .footer-menu ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer-content .footer-socials {
  margin-top: 60px;
}

footer .footer-content .footer-socials .footer-socials-logo {
  margin-top: 8px;
}

footer .footer-content .footer-socials .footer-socials-logo span:nth-child(2) {
  margin: 0 10px;
}

footer .footer-content .footer-contact {
  margin: 65px 0 150px 0;
}

footer .copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

footer .copyright strong {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 46px 170px 24px 170px;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
  }

  footer .footer-content .footer-socials {
    margin-top: 0;
  }

  footer .footer-content .footer-contact {
    margin: 0;
  }

  footer .copyright {
    margin-top: 120px;
  }
}